In [1]:
#https://www.kaggle.com/datasets/mnassrib/telecom-churn-datasets/

import pandas as pd

df = pd.read_csv("churn-bigml-80.csv")
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [2]:
df.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 398.5+ KB

In [4]:
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,2666.000000,2666.000000,2666.000000,2666.00000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000,2666.000000
mean,100.620405,437.438860,8.021755,179.48162,100.310203,30.512404,200.386159,100.023631,17.033072,201.168942,100.106152,9.052689,10.237022,4.467367,2.764490,1.562641
std,39.563974,42.521018,13.612277,54.21035,19.988162,9.215733,50.951515,20.161445,4.330864,50.780323,19.418459,2.285120,2.788349,2.456195,0.752812,1.311236
min,1.000000,408.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,43.700000,33.000000,1.970000,0.000000,0.000000,0.000000,0.000000
25%,73.000000,408.000000,0.000000,143.40000,87.000000,24.380000,165.300000,87.000000,14.050000,166.925000,87.000000,7.512500,8.500000,3.000000,2.300000,1.000000
50%,100.000000,415.000000,0.000000,179.95000,101.000000,30.590000,200.900000,100.000000,17.080000,201.150000,100.000000,9.050000,10.200000,4.000000,2.750000,1.000000
75%,127.000000,510.000000,19.000000,215.90000,114.000000,36.700000,235.100000,114.000000,19.980000,236.475000,113.000000,10.640000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,50.000000,350.80000,160.000000,59.640000,363.700000,170.000000,30.910000,395.000000,166.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [5]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder
ord_enc = OrdinalEncoder()
lbl_enc = LabelEncoder()
df[["International plan", "Voice mail plan", "Churn"]] = ord_enc.fit_transform(df[["International plan", "Voice mail plan", "Churn"]])

In [6]:
df.drop(columns=["State"], axis= 1, inplace= True)
df.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,128,415,0.0,1.0,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0.0
1,107,415,0.0,1.0,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0.0
2,137,415,0.0,0.0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0.0
3,84,408,1.0,0.0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0.0
4,75,415,1.0,0.0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0.0

In [7]:
y = df["Churn"]
y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Churn, dtype: float64

In [8]:
X = df.drop(["Churn"], axis= 1)
X.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
0,128,415,0.0,1.0,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,107,415,0.0,1.0,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,137,415,0.0,0.0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,84,408,1.0,0.0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,75,415,1.0,0.0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3

In [9]:
%matplotlib inline
from autoviz import AutoViz_Class
AV = AutoViz_Class()
df_viz = AV.AutoViz(filename= None, dfte= df, sep= ",", verbose= 1, depVar= "Churn" )

Imported v0.1.804. After importing autoviz, you must run '%matplotlib inline' to display charts inline.
    AV = AutoViz_Class()
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)
Shape of your Data Set loaded: (2666, 19)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  8
    Number of Integer-Categorical Columns =  8
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  2
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  0
    Number of Date Time Columns =  0
    Number of ID Columns =  0
    Number of Columns to Delete =  0
    18 Predictors classified...
        No variables removed since no ID or low-information variables found in data set

################ Binary_Classification problem #####################
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

Total Number of Scatter Plots = 36
All Plots done
Time to run AutoViz = 7 seconds

 ###################### AUTO VISUALIZATION Completed ########################

In [11]:
#normalizing and splitting data
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import maxabs_scale


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3)

X_train = pd.DataFrame(maxabs_scale(X_train), columns= X.columns)
X_test = pd.DataFrame(maxabs_scale(X_test), columns= X.columns)

In [12]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [13]:
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)
dtc_predict = dtc.predict(X_test)

In [14]:
nb = GaussianNB()
nb.fit(X_train, y_train)
nb_predict = nb.predict(X_test)

In [15]:
rfc = RandomForestClassifier(n_estimators= 200)
rfc.fit(X_train, y_train)
rfc_predict = rfc.predict(X_test)

In [16]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
lr_predict = lr.predict(X_test)

In [17]:
svc = SVC()
svc.fit(X_train, y_train)
svc_predict = svc.predict(X_test)

In [24]:
import seaborn as sns

In [18]:
from sklearn.metrics import classification_report
predicts = [dtc_predict, nb_predict, rfc_predict, lr_predict, svc_predict]
models = ["decision tree classifier", "naive bayes (guassian)", "random forest regressor", "logisitc regression", "support vector machines"]

for predictions, model in zip(predicts, models):
    print(f" model: {model} \n {classification_report(y_test, predictions)}\n")

 model: decision tree classifier
               precision    recall  f1-score   support

         0.0       0.95      0.87      0.91       687
         1.0       0.48      0.74      0.59       113

    accuracy                           0.85       800
   macro avg       0.72      0.81      0.75       800
weighted avg       0.89      0.85      0.86       800


 model: naive bayes (guassian)
               precision    recall  f1-score   support

         0.0       0.94      0.87      0.91       687
         1.0       0.46      0.69      0.56       113

    accuracy                           0.84       800
   macro avg       0.70      0.78      0.73       800
weighted avg       0.88      0.84      0.86       800


 model: random forest regressor
               precision    recall  f1-score   support

         0.0       0.96      0.94      0.95       687
         1.0       0.68      0.76      0.72       113

    accuracy                           0.92       800
   macro avg       0.82      0.85      0.83       800
weighted avg       0.92      0.92      0.92       800


 model: logisitc regression
               precision    recall  f1-score   support

         0.0       0.89      0.95      0.92       687
         1.0       0.49      0.31      0.38       113

    accuracy                           0.86       800
   macro avg       0.69      0.63      0.65       800
weighted avg       0.84      0.86      0.84       800


 model: support vector machines
               precision    recall  f1-score   support

         0.0       0.93      0.97      0.95       687
         1.0       0.75      0.56      0.64       113

    accuracy                           0.91       800
   macro avg       0.84      0.76      0.79       800
weighted avg       0.90      0.91      0.91       800

In [19]:
#.iloc[:-1] removes support from the output
dtc_report = classification_report(y_test, dtc_predict, output_dict= True)

dtc_report = pd.DataFrame(dtc_report).iloc[:-1]
sns.heatmap(data= dtc_report, annot= True, fmt= ".2g", cmap= "cubehelix")

In [20]:
nb_report = classification_report(y_test, nb_predict, output_dict= True)

nb_report = pd.DataFrame(nb_report).iloc[:-1]
sns.heatmap(data= nb_report, annot= True, fmt= ".2g", cmap= "cubehelix")

In [21]:
rfc_report = classification_report(y_test, rfc_predict, output_dict= True)

rfc_report = pd.DataFrame(rfc_report).iloc[:-1]
sns.heatmap(data= rfc_report, annot= True, fmt= ".2g", cmap= "cubehelix")

In [22]:
lr_report = classification_report(y_test, lr_predict, output_dict= True)

lr_report = pd.DataFrame(lr_report).iloc[:-1]
sns.heatmap(data= lr_report, annot= True, fmt= ".2g", cmap= "cubehelix")

In [23]:
svc_report = classification_report(y_test, svc_predict, output_dict= True)

svc_report = pd.DataFrame(svc_report).iloc[:-1]
sns.heatmap(data= svc_report, annot= True, fmt= ".2g", cmap= "cubehelix")

import numpy as np
input_arr = np.array([119,415,0,0,0,159.1,114,27.05,231.3,117,19.66,143.2,91,6.44,8.8,3,2.38,5]).reshape(1,-1)
input_df = pd.DataFrame(maxabs_scale(input_arr), columns= X.columns)
print(dtc.predict(input_df))

new_x = pd.read_csv("churn-bigml-20.csv")
new_x["Churn"].replace({True: 1, False : 0}, inplace= True)
new_y = new_x["Churn"]
new_x["International plan"].replace({"Yes": 1, "No": 0}, inplace= True)
new_x["Voice mail plan"].replace({"Yes": 1, "No": 0}, inplace= True)
new_x.drop("State", axis= 1, inplace= True)
new_x.drop("Churn", axis= 1, inplace= True)
new_x = pd.DataFrame(maxabs_scale(new_x), columns= new_x.columns)
new_x.head()

dtc_predict = dtc.predict(new_x)
print(classification_report(new_y,dtc_predict))